    .footer-main{
        background-image: url(../../public//footer.png);
        background-color: pink;
        height: 460px;
        width: 100%;
    }

    .box-wrp{
        background-color: blue;
        width: 70%;
        height: 50px;
    }