.footer-main {
    background-color: #EAC0CD;
    width: 1454px;
    height: 510px;
    flex-shrink: 0;
    margin: auto;
}

.footer-logo {
    margin-top: 46px;
    margin-left: 46px;
    width: 305.288px;
    height: 76px;
    flex-shrink: 0;
    /* background-color: red; */
}

.footer-text {
    margin-top: 50px;
    margin-left: 46px;
    width: 365px;
    height: 190px;
    flex-shrink: 0;
    color: #3D318A;
    font-family: Roboto Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* background-color: blue; */
}

.footer-box{
    width: 942px;
height: 44px;
flex-shrink: 0;
border-radius: 50px;
background: linear-gradient(12deg, #4E4495 49.84%, rgba(157, 136, 196, 0.00) 100%);
margin-top: 76px;
margin-left: 46px;
}

.footer-links{
    margin-top: 38px;
    margin-left: 60px;
    /* background-color: aqua; */
    width: 136px;
    height: 208px;
}

.footer-links2{
    margin-top: 38px;
    margin-left: 60px;
    /* background-color: aqua; */
    width: 136px;
    height: 208px;
}

/* .input-box {
    width: 942px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(12deg,
            #4e4495 49.84%,
            rgba(157, 136, 196, 0) 100%);
}

.quick-link {
    margin-left: 10px;
    padding-left: 20px;
    /* padding-top: 10px; */
/* background-color: red;
    color: blue; */
/* width: 178.073px;
    flex-shrink: 0;
    display: flex;
} */

/* .quick-link-typography {
    color: #fff;
    font-family: Roboto Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 10%;
    justify-content: center;
    padding-top: 2px;
}

.footer-links {
    text-decoration: none;
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}  */